<tr>
  <td class="mdl-data-table__cell--non-numeric"><%= order.pk_id %></td>
  <td class="mdl-data-table__cell--non-numeric"><%= order.creator.nil? ? '' :
  order.creator.username %></td>
  <td class="mdl-data-table__cell--non-numeric"><%= order.publication_name %></td>
  <td class="mdl-data-table__cell--non-numeric"><%= order.run_date.nil? ? '' :  order.run_date.localtime("-05:00") %></td>
  <td class="mdl-data-table__cell--non-numeric"><%= order.order_status.name %></td>
  <td class="mdl-data-table__cell--non-numeric"><%= order.template.nil? || order.template.headline.nil? ? '' : order.template.headline.code %></td>
  <td class="mdl-data-table__cell--non-numeric">
    <%= link_to "/arf/#{order.pk_id}", target: '_blank' do %>
      <i class="material-icons">get_app</i>
    <% end %>
  </td>
  <td class="mdl-data-table__cell--non-numeric">
    <% unless order.hi_res_download_path.empty? %>
      <%= link_to order.hi_res_download_path, download: '', target: '_blank' do %>
        <i class="material-icons">description</i>
      <% end %>
    <% else %>
      <i class="material-icons">clear</i>
    <% end %>
  </td>
</tr>
